@import url(../vendor/normalize.css);
@import url(../vendor/fonts/InterWeb/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/link/link.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/user/user.css);
@import url(../blocks/user/__avatar/user__avatar.css);
@import url(../blocks/user-info/user-info.css);
@import url(../blocks/user-info/__user-name/user-info__user-name.css);
@import url(../blocks/user-info/__user-description/user-info__user-description.css);
@import url(../blocks/user-info/__edit-button/user-info__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__element-info/element__element-info.css);
@import url(../blocks/element-info/__like-button/element-info__like-button.css);
@import url(../blocks/element-info/__title/element-info__title.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);



.popup {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #000;
  opacity: .8;  
}

.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.container__title {
  margin: 34px 0 0;
  margin-left: 36px;
  padding: 0;
  font-size: 24px;
  line-height: 121%;
  font-weight: 900;

}

.container__user-name {
  margin: 54px auto 30px;
}

.container__user-info {
  margin: 0 auto;
}

.form-field {
  width: calc(100% - 72px);
  height: 27px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 121%;
  font-weight: 400;
}

.container__submit-button {
  background-image: url(../images/submit-button.svg);
  width: 358px;
  height: 50px;
  margin: 48px auto 0;
}